.footer {
    background-color: $background-color;
    padding-top: $padding-top;
    text-align: $text-align;

    &__link,
    &__social-link {
        color: $color;
        font-size: $font-size;
        text-decoration: text-decoration;
    }

}
