.pilares {
    display: flex;
    justify-content: space-between;
    gap: $pilares-gap;
    padding: $pilares-padding;
    background-color: $pilares-bg-color;

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;

        &__item {
            margin-bottom: $pilares-item-margin-bottom;
        }
    }
}



